/* Color Theme Swatches in Hex */
.Road-in-dark-forest-,Forest-at-night,-environment-concept-1-hex { color: #142126; }
.Road-in-dark-forest-,Forest-at-night,-environment-concept-2-hex { color: #283B40; }
.Road-in-dark-forest-,Forest-at-night,-environment-concept-3-hex { color: #C2E9F2; }
.Road-in-dark-forest-,Forest-at-night,-environment-concept-4-hex { color: #516F73; }
.Road-in-dark-forest-,Forest-at-night,-environment-concept-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Road-in-dark-forest-,Forest-at-night,-environment-concept-1-rgba { color: rgba(19, 33, 38, 1); }
.Road-in-dark-forest-,Forest-at-night,-environment-concept-2-rgba { color: rgba(40, 59, 63, 1); }
.Road-in-dark-forest-,Forest-at-night,-environment-concept-3-rgba { color: rgba(193, 233, 242, 1); }
.Road-in-dark-forest-,Forest-at-night,-environment-concept-4-rgba { color: rgba(81, 111, 114, 1); }
.Road-in-dark-forest-,Forest-at-night,-environment-concept-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Road-in-dark-forest-,Forest-at-night,-environment-concept-1-hsla { color: hsla(196, 31, 11, 1); }
.Road-in-dark-forest-,Forest-at-night,-environment-concept-2-hsla { color: hsla(191, 22, 20, 1); }
.Road-in-dark-forest-,Forest-at-night,-environment-concept-3-hsla { color: hsla(191, 65, 85, 1); }
.Road-in-dark-forest-,Forest-at-night,-environment-concept-4-hsla { color: hsla(185, 16, 38, 1); }
.Road-in-dark-forest-,Forest-at-night,-environment-concept-5-hsla { color: hsla(0, 0, 5, 1); }
