@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* deslizar el menu */
    scroll-behavior: smooth;
}
.header-container{
    background: #0D0D0D;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.header-container header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.header-container header .logo{
    width: 50px;
    height: 50px;
}

.header-container header .logo a img{
    margin: -30px;
}

.header-container header ul{
    display: flex;
    list-style: none;
}

.header-container header nav ul li a{
    text-align: none;
    color: #516F73;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.header-container header nav ul li a:hover{
    color: #C2E9F2;
}
.nav-responsive{
    background-color: #516F73;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* START SECTION */

.start{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(img/stoa.webp);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.start .banner-container{
    padding: 20px;
    padding-top: 80px;
    background-color: rgba(13, 13, 13, 0.5);
    max-width: 350px;
    margin: auto;
    padding-bottom: 250px;
    text-align: center;
    border-radius: 40px;
    max-height: 100vh;
}

.start .banner-container img{
    margin-top: 40px;
    border: 10px solid #516F73;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.start .banner-container h1{
    margin-top: 20px;
    font-size: 42px;
    font-family: 'Righteous';
}
.start .banner-container h2{
    font-size: 20px;
    font-weight: normal;
}
.start .banner-container .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 30px;
    margin: 40px 5px;
    transition: .3s;   
}
.start .banner-container .redes a:hover{
    background-color: #516F73;
}

/* About Me */
.about-me{
    background-color: #0D0D0D;
    color: #fff;
    padding: 50px 20px;
}
.about-me .section-container{
    max-width: 1100px;
    margin: auto;

}
.about-me h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.about-me .section-container p{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: justify;
}
.about-me .section-container p span{
    color:  #516F73;
    font-weight: bold;
}
.about-me .fila{
    display: flex;

}
.about-me .fila .col{
    width: 50%;
    text-align: center;

}
.about-me .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;

}
.about-me .fila .col ul{
    list-style: none;
    
}
.about-me .fila .col ul li {
    margin: 12px 0;
}

.about-me .fila .col ul strong{
    display: inline-block;
    color: #516F73;
    width: 130px;
}
.about-me .fila .col ul li span{
    background-color: #516F73;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.about-me .fila .col .intereses-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.about-me .fila .col .intereses-container .interes{
    width: 100px;
    height: 100px;
    background-color: #142126;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    text-align: center;
}
.about-me .fila .col .intereses-container .interes:hover{
    background-color: #516F73;
}
.about-me .fila .col .intereses-container .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.about-me button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
a{
    text-decoration: none;
}
.about-me button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #516F73;
    z-index: -1;
    transition: 1s;
}
.about-me button:hover .overlay{
    width: 100%;
}

/* Skills section */
.skills{
    background-color: #142126;
    color: #fff;
    padding: 50px 20px;
}
.skills .section-container{
    max-width: 1100px;
    margin: auto;

}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin: 25px 0 25px 0;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 0px;
    margin-top: 20px;
}
.skills .skill .skill-bar{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-top: 30px;
}
.skills .skill .progres{
    background-color: #516F73;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .skill-bar span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #516F73;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* clase .javascript se agrega dinamicamente con uso de JS */
.skills .skill .analisis-funcional{
    width: 0%;
    animation: 2s analisis-funcional forwards;
}
@keyframes analisis-funcional{
    0%{width: 0%;}
    100%{width: 70%;}
}
.skills .skill .interviewing{
    width: 0%;
    animation: 2s interviewing forwards;
}
@keyframes interviewing{
    0%{width: 0%;}
    100%{width: 70%;}
}
.skills .skill .project-planning{
    width: 0%;
    animation: 2s project-planning forwards;
}
@keyframes project-planning{
    0%{width: 0%;}
    100%{width: 70%;}
}
.skills .skill .team-leadership{
    width: 0%;
    animation: 2s team-leadership forwards;
}
@keyframes team-leadership{
    0%{width: 0%;}
    100%{width: 80%;}
}
.skills .skill .process-methods-design{
    width: 0%;
    animation: 2s process-methods-design forwards;
}
@keyframes process-methods-design{
    0%{width: 0%;}
    100%{width: 60%;}
}

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript{
    0%{width: 0%;}
    100%{width: 20%;}
}
.skills .skill .html{
    width: 0%;
    animation: 2s html forwards;
}
@keyframes html{
    0%{width: 0%;}
    100%{width: 30%;}
}
.skills .skill .css{
    width: 0%;
    animation: 2s css forwards;
}
@keyframes css{
    0%{width: 0%;}
    100%{width: 30%;}
}
.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop{
    0%{width: 0%;}
    100%{width: 70%;}
}
.skills .skill .notion{
    width: 0%;
    animation: 2s notion forwards;
}
@keyframes notion{
    0%{width: 0%;}
    100%{width: 90%;}
}
.skills .skill .python{
    width: 0%;
    animation: 2s python forwards;
}
@keyframes python{
    0%{width: 0%;}
    100%{width: 20%;}
}
.skills .skill .ux-ui{
    width: 0%;
    animation: 2s ux-ui forwards;
}
@keyframes ux-ui{
    0%{width: 0%;}
    100%{width: 30%;}
}
/* Curriculum */
.curriculum{
    background-color: #0D0D0D;
    color: #fff;
    padding: 50px 20px;
}
.curriculum .section-container{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #142126;
}
.curriculum .fila .derecha{
    border-left: 2px solid #142126;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #142126;
    position: relative;
    border-radius: 10px;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .lugar{
    color: #516F73;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #516F73;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 22px;
}
.curriculum .fila .izq{
    border-right: 2px solid #516F73;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #516F73;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #516F73;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #516F73;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #516F73;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #516F73;
    float: left;
    position: relative;
    bottom: 4px;
}
/* Portfolio Section */
.portfolio{
    background-color: #142126;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .section-container{
    max-width: 1100px;
    margin: auto;

}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.portfolio .galery .proyecto{
    position: relative;
    max-width: 340px;
    max-height: 340px;
    margin: 10px;
    cursor: pointer;
    
}
.portfolio .galery img{
    width: 100%;
    height: 100%;
    display: block;
}
.portfolio .galery .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(81, 111, 114,.8), rgba(81, 111, 114,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0; 

}
.portfolio .galery .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galery .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galery .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
/* Contacto section */
.contacto{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(img/stoa.webp);
    background-size:cover;
    background-position-y:bottom;
    background-color: #0D0D0D;
    color: #fff;
    padding: 50px 0px;
}
.contacto .section-cotainer{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #142126;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #516F73;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col .info{
    position: relative;
    top: 40%;
    padding: 20px;
    max-width: 350px;
    margin: auto;
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
    
}
.contacto .col .info ul li a{
    color: #fff;
}
.contacto .col .info ul li i{
    color: #516F73;
    display: inline-block;
    width: 42px;
    font-size: 42px;
    text-align: center;
    margin-right: 10px;
    
    
}
footer{
    background-color: #142126;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 30px;
    margin: 40px 5px;
    transition: .3s;   
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #516F73;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 20px;
}
/* Responsive section */
@media screen and (max-width:980px){

    nav{
        display: none;
        justify-content: center;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color:#142126;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff ;
        padding: 10px 0px;
    }
}
@media screen and (max-width:700px){
    .about-me .fila{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-me .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .skill-bar{
        width: 100%;
    }
    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }
    .portfolio .galery{
        width: 100%;
    }
    .portfolio .galery .proyecto{
        width: 100%;
    }
    .portfolio .galery .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}
